@{
     ViewData["Title"] = "Alta de Productos";
}

<form>
    <div class="mb-3">
        <label for="Precio" class="form-label">Precio</label>
        <input type="text" class="form-control" id="Precio" name="precio" placeholder="Precio del Producto">
        <label for="Cantidad" class="form-label">Cantidad</label>
        <input type="text" class="form-control" id="Cantidad" name="cantidad" placeholder="Cantidad de Productos">
        
        <label for="Fecha" class="form-label">Fecha</label>
        <input type="text" class="form-control" id="Fecha" name="fecha" placeholder="Precio del Producto">
    </div>
    <button type="submit" class="btn btn-primary"> Guardar</button>
    <button type="submit" class="btn btn-secundary"> Cancelar</button>
</form>
