@{
     ViewData["Title"] = "Alta de tiendas";
}

<form>
    <div class="mb-3">
        <label for="Location" class="form-label">Ubicacion</label>
        <input type="text" class="form-control" id="Location" name="location" placeholder="Ubiacion de la tienda">
        <label for="Employee" class="form-label">Empleados</label>
        <input type="text" class="form-control" id="Employee" name="employee" placeholder="Cantidad de Empleados">
    </div>
    <button type="submit" class="btn btn-primary"> Guardar</button>
    <button type="submit" class="btn btn-secundary"> Cancelar</button>
</form>